:root {
  --primary-color: #7665de;
  --secondary-color: #b875d1;
  --light-color: #d9d4f9;
  --primary-color-filter: invert(51%) sepia(36%) saturate(6219%)
    hue-rotate(225deg);
  --secondary-color-filter: invert(50%) sepia(89%) saturate(268%)
    hue-rotate(239deg);
  --light-color-filter: invert(98%) sepia(58%) saturate(5382%)
    hue-rotate(181deg);
  --gradient: linear-gradient(#b970d3, #5a44c9);
  --box-shadow: #5042ab 0px 7px 29px 0px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #313131;
  background: var(--gradient);
}

header {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 0 0 15px 15px;
  box-shadow: #785b80aa 0px 7px 29px 0px;
  position: sticky;
  top: 0;
  z-index: 1;
}

main {
  padding-bottom: 50px;
  min-height: calc(100vh - 112px);
}

h1 {
  font-size: 24px;
}

.placeholder {
  height: 800px;
}

.card {
  width: 90%;
  padding: 50px 45px 45px;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
  position: relative;
  box-shadow: var(--box-shadow);
}

.card__bookmark,
.card__bookmark-active {
  width: 40px;
  position: absolute;
  top: -15px;
  right: 20px;
}
.card__bookmark,
.card__bookmark-active:hover {
  filter: var(--light-color-filter);
}
.card__bookmark-active,
.card__bookmark:hover,
.card__bookmarked {
  filter: var(--primary-color-filter);
}

.card__question {
  font-size: 18px;
  font-weight: 600;
}

.card__button {
  padding: 10px 20px;
  margin: 30px 0 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: #fff;
}
.card__button:hover {
  background-color: #5e4eca;
}
.card__answer {
  display: none;
}
.tags {
  list-style: none;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tags li {
  display: inline;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: var(--light-color);
  font-size: 12px;
}

.profile {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: #fff;
}
.profile__list {
  list-style: none;
}
.profile h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
.faded-text {
  text-transform: uppercase;
  opacity: 40%;
  font-weight: 300;
}

.profile__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.profile__intro {
  font-size: 14px;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 15px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
  position: relative;
  box-shadow: var(--box-shadow);
}
.stats img {
  width: 15%;
}

.stats h3,
.settings h3 {
  font-size: 16px;
  width: 60%;
  text-align: left;
}

.stats__counter {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
}

.settings {
  width: 90%;
  padding: 15px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  position: relative;
  box-shadow: var(--box-shadow);
}

.toggle {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox__icon {
  height: 16px;
  filter: invert(100%) sepia(67%) saturate(10%) hue-rotate(238deg);
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: #838383aa 0px 7px 29px 0px;
}
.footer-nav {
  display: flex;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
}
.footer-nav li {
  list-style: none;
  width: 33.3%;
  padding: 10px;
  text-align: center;
}
.footer-nav-icon,
.stats__icon {
  height: 30px;
  filter: var(--primary-color-filter);
}
.footer-nav-icon:hover,
.footer-nav .active {
  filter: var(--secondary-color-filter);
}
.footer-nav a {
  display: block;
}
