.profile {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  color: #fff;
}
.profile__list {
  list-style: none;
}
.profile h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.profile__img {
  width: 15vw;
  height: 15vw;
  min-height: 85px;
  min-width: 85px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 15px;
}

.profile__intro {
  font-size: 14px;
}
