.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 15px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: var(--white-background);
  text-align: center;
  position: relative;
  box-shadow: var(--box-shadow);
}
.stats img {
  width: 10%;
}

.stats h3 {
  font-size: 16px;
  width: 80%;
  text-align: left;
  padding-left: 10px;
  color: var(--text-color);
}

.faded-text {
  text-transform: uppercase;
  color: var(--text-color);
  opacity: 40%;
  font-weight: 300;
  text-align: left;
}

.stats__icon {
  height: 30px;
  filter: var(--primary-color-filter);
}

.stats__counter {
  width: 43px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
}
